* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul, ol, li{
    list-style: none;
    
}

html, body{
    scroll-behavior: smooth;
}

header nav{
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    width: 280px;
    align-items: center;
    position: relative;
    font-size: large;
}
.lupa{
    display: flex;
    align-items:center;
}
.menu{
    display: flex;
    flex-direction: row;
    font-size: 28px;
    width: 80%;
    gap: 20px;
    align-items: center;

}

main{
    flex-grow:1;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 100%;
}
body{
    display: flex;
    flex-direction: column;
}


#img{
    max-height: 70%;
}
.geografia{
    height: 70vh;
    width: 100vw;
    object-fit: cover;
}

header{
    position: fixed;
    width: 100vw;
    background-color: #A57676;
    padding: 20px;
    justify-content: space-between;
    z-index:2;
}

header nav ul{
    display: flex;
    justify-content: space-between;
}

header nav a{
    color: white;
    padding: 8px;
    transition: 1s;
}

header nav a:hover{
    background-color:#FFFDEA;
}

.grupo{

    background-color: rgb(230, 220, 218);
}

#vermelho{
    background-color: #FFFDEA;
    background-position: 30vw ;
    background-repeat: no-repeat;
    background-size: large;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.telainicial{
    width: 100%;
    text-align: center;
    position: relative;
    padding: 10vh;
    align-items: center;
    justify-content: space-between;
    display: flex;
    

}

.quadrados{
    width: 200px;

}

.marrominicial{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.imagens{
    background-color: #A57676;
    border-radius: 60px;
    padding: 10px;
    height: 200px;
    width: 200px;
}

#title{
    color: rgb(255, 250, 250);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.title{
    font-size: 32px;
    left: 40px;
}

.h2{
     color: rgb(255, 250, 250);
}
#SOBRE{
    background-color: #FFFDEA;
}


#INTRODUCAO{
    background-color:#FFFDEA;
}

#SAIBAMAIS{
    background-color: #FFFDEA;
}



#conjunto {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: #FFFDEA;
    flex: 1;
    padding: 7vh;
}