* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul, ol, li{
    list-style: none;
    
}

html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: 1s;
}

header nav{
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    width: 280px;
    align-items: center;
    position: relative;
    font-size: large;
}
.lupa{
    display: flex;
    align-items:center;
}
.menu{
    display: flex;
    flex-direction: row;
    font-size: 28px;
    width: 80%;
    gap: 20px;
    align-items: center;

}

main{
    flex-grow:1;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 100%;
}

section{
    height: 100vh;
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
}


#img{
    max-height: 70%;
}
.geografia{
    height: 70vh;
    width: 100vw;
    object-fit: cover;
}

header{
    position: fixed;
    width: 100vw;
    background-color: #A57676;
    padding: 20px;
    justify-content: space-between;
    z-index:2;
}

header nav ul{
    display: flex;
    justify-content: space-between;
}

header nav a{
    color: rgb(255, 255, 255);
    padding: 8px;
    transition: 1s;
}

header nav a:hover{
    background-color:#FFFDEA;
}

.grupo{
    background-color: rgb(230, 220, 218);
}

#vermelho{
    background-color: #FFFDEA;
    background-position: 30vw ;
    background-repeat: no-repeat;
    background-size: large;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.quadrados{
    width: 200px;
}

.marrominicial{
    display: flex;
    width: 100%;
    height: 30vh;
    align-items: center;
    justify-content: space-around;
}

.imagens{
    background-color: #A57676;
    border-radius: 60px;
    padding: 6px;
    height: 200px;
    width: 200px;
}

#INICIO{
    background-color: #FFFDEA;
    font-size:xx-large;
    justify-content: center;
    align-items: center;
    width: 100%;
    size: 100px;

}

#SOBRE{
    background-color: #FFFDEA;
    font-size:xx-large;
    justify-content: center;
    align-items: center;
    width: 100%;
    size: 100px;

}

.titleSOBRE{
    width: 100vw;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 200px;
    text-align: center;
    font-family: "Instrument Sans", serif;
    size: 100px;
    
}

.titleSOBRE span{
    width: 100vw;
    padding-top: 50px;
    text-align: center;
    font-size: 100px;
    background-color: #A57676;
    color: rgb(255, 247, 247);
    font-family: "Instrument Sans", serif;
}

.titleSOBRE h2{
    padding: 12vh;
    color: #A57676;
    size: 1000px;
}

#INTRODUCAO{
    background-color: #FFFDEA;
    font-size: xx-large;
    justify-content: center;
    padding-top: 20vh;
    text-align: center;
    width: 100%;
    size: 90px;
}

.INTRODUCAO{
    width: 100vw;
    height: 100%;
    font-size: larger;
    justify-content: center;
    position: absolute;
    text-align: center;
    font-family: "Instrument Sans", serif;
}


.titleINTRODUCAO span{
    text-align: center;
    background-color:#A57676;
    color:white;
    font-family: "Instrument Sans", serif;
    text-align: center;
    font-size: 100px;
 
}

.INTRODUCAOatlas{
    display: flex;
    height: 60%;
    width: 100%;
    right: 60px;
    justify-content: flex-end;
    background-color:#FFFDEA;
}
#info{
    width: 50vw;
    height: 60vh;
    padding: 2rem;
}
#info p{
    font-size: 2.7rem;
    text-align: left;
    color: #A57676;
}
#total{
    display: flex;
}

.foto{
    display: flex;
    height: 60%;
    width: 100%;
    right: 70px;
    justify-content: flex-end;
    background-color:#FFFDEA;
}
#PRINCIPAISTEMAS{
    background-color: #FFFDEA;
    font-size:xx-large;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
}
.titleTEMAS{
    background-color: #A57676;
    height: 6vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFDEA;
   font-size: 5rem;
   padding: 3rem;
}
.principais{
    width: 70%;
    height: 23vh;
    gap: 16px;
    background-color: #A57676;
    border-radius: 19px;
    display: flex;
    align-items: center;
}

.fotoprincipais{
    width: 20vw;
    height: 23vh;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
}

#relevo p{
    font-size: 1.7rem;
    color: #FFFDEA;
}
#clima p{
    font-size: 1.9rem;
    color: #FFFDEA;
}
#politica p{
    font-size: 1.9rem;
    color: #FFFDEA;
}
#relevo a{
    color: #FFFDEA;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}
#politica a{
    color: #FFFDEA;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}
#clima a{
    color: #FFFDEA;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

#MAPAS{
    background-color: #FFFDEA;
    font-size:xx-large;
    justify-content: center;
    align-items: center;
    width: 100%;
    size: 100px;
    scroll-margin-top: 150px;

}




.container{
    display:flex;
    flex-wrap: wrap;
    padding: 16px;
    gap: 16px;
}

.container div{
    height: 400px;
    flex-grow: 1;
  
} 

.container img{
    height:100%;
    width:100%;
    transition: 1s;
    padding-top: vh;
}

.container img:hover{
    transform: scale(1.3);
}

#SAIBAMAIS{
    background-color: #FFFDEA;
    font-size:xx-large;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    scroll-margin-top: 300px;
}

.titleSAIBA span{
    width: 100vw;
    padding: 90vh;
    text-align: center;
    font-size: 100px;
    color:#A57676;
    font-family: "Instrument Sans", serif;

   

}

.titleSAIBA h2{
    padding: 10vh;
    color: #A57676;
    font-size: 50px;
}
#conjunto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao{
    display: flex;
    justify-content: center;
}

.botao a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 400px;
    background-color: #A57676;
    color: aliceblue;
    font-size: 64px;
   
}

footer{
    background-color: #FFFDEA;
    flex: 1;
    padding: 15vh;
    height: 50px;
    text-align: center;
    font-style: italic;
}
