* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul, ol, li{
    list-style: none;
    
}

html, body{
    scroll-behavior: smooth;
    transition: 1s;
}

header nav{
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    width: 280px;
    align-items: center;
    position: relative;
    font-size: large;
}
.lupa{
    display: flex;
    align-items:center;
}
.menu{
    display: flex;
    flex-direction: row;
    font-size: 28px;
    width: 80%;
    gap: 20px;
    align-items: center;

}

main{
    flex-grow:1;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 100%;
}

section{
    height: 100vh;
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
}


#img{
    max-height: 70%;
}
.geografia{
    height: 70vh;
    width: 100vw;
    object-fit: cover;
}

header{
    position: fixed;
    width: 100vw;
    background-color: #A57676;
    padding: 20px;
    justify-content: space-between;
    z-index:2;
}

header nav ul{
    display: flex;
    justify-content: space-between;
}

header nav a{
    color: rgb(255, 255, 255);
    padding: 8px;
    transition: 1s;
}

header nav a:hover{
    background-color:#FFFDEA;
}

.grupo{

    background-color: rgb(230, 220, 218);
}

#vermelho{
    background-color: #FFFDEA;
    background-position: 30vw ;
    background-repeat: no-repeat;
    background-size: large;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.quadrados{
    width: 200px;
}

.marrominicial{
    display: flex;
    width: 100%;
    height: 30vh;
    align-items: center;
    justify-content: space-around;
}

.imagens{
    background-color: #A57676;
    border-radius: 60px;
    padding: 6px;
    height: 200px;
    width: 200px;
}

#SOBRE{
    background-color: #FFFDEA;
    font-size:xx-large;
    justify-content: center;
    align-items: center;
    width: 100%;
    size: 100px;

}

.titleSOBRE{
    width: 100vw;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 200px;
    text-align: center;
    font-family: "Instrument Sans", serif;
    size: 100px;
    
}

.titleSOBRE span{
    width: 100vw;
    padding-top: 50px;
    text-align: center;
    font-size: 100px;
    background-color: #A57676;
    color: rgb(255, 247, 247);
    font-family: "Instrument Sans", serif;
}

.titleSOBRE h2{
    padding: 12vh;
    color: #A57676;
    size: 1000px;
}

#INTRODUCAO {
    font-family: "Instrument Sans", serif;
}

#INTRODUCAO span{
    width: 100vw;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 200px;
    text-align: center;
    font-family: "Jomhuria", serif;
    font-size: 70px;
 
}

.INTRODUCAOatlas{
    display: flex;
    align-items:center;
    height: 100vh;
    width: 100%;
    right: 60px;
    padding: 50px;
    justify-content: flex-end;
    background-color:#FFFDEA;
    
  
}
#SAIBAMAIS{
    background-color: #FFFDEA;
}



#conjunto {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: #FFFDEA;
    flex: 1;
    padding: 7vh;
}